@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    background-color: #b6a19e;
    font-family: "Syne Mono", sans-serif;
    text-align: center;
    padding: 50px;
}

ul > li {
    text-decoration: none;
    display: inline-block;
    font-size: 46px;
    padding: 20px 80px;
}

header > h1{
    font-size: 92px;
}

h2 {
    font-size: 46px;
    color: white;
    height: 300px;
    width: 400px;
    text-align: center;
    display: inline-block;
}

#btn {
    background-color: white;
    border: white 3px solid;
    font-family: "Syne Mono", sans-serif;
    font-size: 46px;
    text-decoration: none;
    cursor: pointer;
    margin: 20px 10px;
    width: 400px;
}

#btn:hover {
    background-color:blue;
    border: blue 3px solid;
}