@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    background-color: red;
    font-family: "Syne Mono", sans-serif;
    text-align: center;
    padding: 50px;
}

header > h1{
    font-size: 92px;
}

h2 {
    font-size: 46px;
}

.button {
    background-color: white;
    border: white 3px solid;
    border-radius: 30%;
    font-family: "Syne Mono", sans-serif;
    font-size: 46px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 2px;
    display: inline-block;
}

.button:hover {
    background-color:blue;
    border: blue 3px solid;
}